---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection/HeroSection.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Countdown from "../components/Countdown.astro";
import ConfirmationForm from "../components/ConfirmationForm.astro";
---

<Layout title="Manu y Cris">
  <main class="bg-beige text-darkGreen text-lg">
    <HeroSection />
    <section id="cuenta-atras" class="container mx-auto py-12 px-4">
      <Countdown />
    </section>
    <!-- Sección 1 -->
    <section id="donde-y-cuando" class="container mx-auto py-12 px-4">
      <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-20">
        <div class="space-y-12">
          <SectionTitle>Dónde y cuándo</SectionTitle>
          <a href="https://maps.app.goo.gl/Ss3ru119fK68RGmh7" target="_blank">
            <div class="flex flex-col gap-6 items-center my-6">
              <img class="w-40" src="/donde.png" alt="">
              <span class="text-3xl">Bodega Finca Los Aljibes</span>
            </div>
          </a>
          <div class="flex flex-col gap-6 items-center my-6">
            <img class="w-40" src="/cuando.png" alt="">
            <span class="text-3xl">19-10-2024 a las 12:00</span>
          </div>
          <p class="text-center">
            Pondremos buses para que podáis desplazaros desde Albacete y Hellín. También podéis venir con coche propio, en la finca habrá aparcamiento disponible.
          </p>
        </div>
        <div>
          <img alt="Manu y Cris en la playa" src="/section1.png" class="rounded-xl object-cover aspect-[9/16]" />
        </div>
      </div>
    </section>

    <!-- Sección 2 -->
    <section id="alojamientos" class="bg-softGreen">
      <div class="container mx-auto py-12 px-4 grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-20">
        <div class="order-2 md:order-first">
          <img alt="" src="/mountain.png" class="rounded-xl object-cover aspect-auto" />
        </div>
        <div>
          <SectionTitle>Alojamientos</SectionTitle>
          <p class="text-center">
            Si venís desde lejos y necesitáis hacer noche en algún hotel estos son los que os recomendamos:
          </p>
        </div>
      </div>
    </section>
    <section id="confirmacion" class="container mx-auto py-12 px-4">
      <SectionTitle>Confirmación</SectionTitle>
      <ConfirmationForm />
    </section>
  </main>
</Layout>