<>
  <p class="text-center">
    Te dejamos por aquí nuestro número de teléfono por si tienes alguna duda:
  </p>
  <div class="mt-2 flex flex-wrap justify-center gap-6 sm:gap-10 text-center">
    <a class="text-xl hover:scale-105 transition-transform" href="tel:+34613192958">Manu: 613 192 958</a>
    <a class="text-xl hover:scale-105 transition-transform" href="tel:+34687165644">Cris: 687 165 644</a>
  </div>
</>
