---
import CopyIcon from "./Icons/CopyIcon.astro";
---

<div>
  <div class="bg-beige p-8 max-w-xl rounded-lg mx-auto mb-8">
    <p class="text-center">
      Nuestro mejor regalo será vuestra presencia, si a pesar de todo queréis tener un detalle con nosotros, aquí os dejamos nuestros datos:
      <br>
      <br>
    </p>
    <div id="ACCOUNT_BUTTON" class="flex items-center justify-center gap-2 cursor-pointer">
      <span id="ACCOUNT">ES2721004303872200187557</span>
      <div class="w-6"><CopyIcon /></div>
    </div>
  </div>

  <p class="text-center">
    Te dejamos por aquí nuestro número de teléfono por si tienes alguna duda:
  </p>
  <div class="mt-2 flex flex-wrap justify-center gap-6 sm:gap-10 text-center">
    <a class="text-xl hover:scale-105 transition-transform" href="tel:+34613192958">Manu: 613 192 958</a>
    <a class="text-xl hover:scale-105 transition-transform" href="tel:+34687165644">Cris: 687 165 644</a>
  </div>
</div>

<script>
  let accountButton = document.querySelector('#ACCOUNT_BUTTON');
  let accountNumber = (document.querySelector('#ACCOUNT') as HTMLElement).innerText;
  accountButton?.addEventListener('click', async (e) => {
    await navigator.clipboard.writeText(accountNumber);
    alert('Número de cuenta copiado al portapapeles');
  })
</script>
