---
import "@fontsource/belleza";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: "Belleza", system-ui, sans-serif;
  }

  @font-face {
    font-family: "TheSeasons";
    src: url("/fonts/The-Seasons-Regular.ttf") format("truetype");
    font-weight: 400;
  }

  @font-face {
    font-family: "TheSeasons";
    src: url("/fonts/The-Seasons-Light.ttf") format("truetype");
    font-weight: 300;
  }
</style>

<script>
  const wedDate = new Date("2024-10-19T12:00:00");
  const daysElement = document.querySelector("#days");
  const hoursElement = document.querySelector("#hours");
  const minutesElement = document.querySelector("#minutes");
  const secondsElement = document.querySelector("#seconds");
  let counter = 0;


  // secondsElement?.addEventListener('click', () => {

  //   console.log(daysElement?.innerHTML);
  //   let number = Number(daysElement?.innerHTML) - 1;
  //   daysElement.innerHTML = number.toString();
  //   counter ++;
  //   console.log(counter);

  // });



  setInterval(() => {
    let timeNow = new Date();
    let t = (wedDate.getTime() - timeNow.getTime()) / 1000;
    let seconds = Math.floor(t % 60);
    let minutes = Math.floor(t / 60) % 60;
    let hours = Math.floor(t / (60 * 60)) % 24;
    let days = Math.floor(t / (60 * 60 * 24));
    

    if (
      daysElement != null &&
      hoursElement != null &&
      minutesElement != null &&
      secondsElement != null
    ) {
      daysElement.innerHTML = days.toString();
      hoursElement.innerHTML = hours.toString();
      minutesElement.innerHTML = minutes.toString();
      secondsElement.innerHTML = seconds.toString();
    }
  }, 1000);
</script>
